body{
    margin: 90px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding: 0 10px
}
h1,h2,h3{line-height:1.2}
.topnav {
    background-color: #2E3340;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
}
.topnav .nav_a, .logo_a {
    float: left;
    display: block;
    color: #D8DEE8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .logo_a {
    padding: 0 0;
}
.topnav .nav_a:hover {
    background-color: #4C556A;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-height: 55px;
    max-width: 55px;
    float:left;
}
.logo_text {
    font-family: sans-serif;
    color: #D8DEE8;
    padding: 16px 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 55px;
}

.logo_text.active {
    color: #2E3340;
}

.topnav .logo_a.active, .nav_a.active{
    background-color: #8FBCBB;
    color: #2E3340;
}

footer {
    margin: 0 auto;
    height: 30px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
footer ul {
    margin: 0px;
    padding: 0;
}
footer li {
    display: inline;
}
footer li a {
    text-decoration: none;
}
footer li a img {
    max-width: 64px;
}

@media only screen and (max-width : 600px) {
    .topnav #logo_link {
        width: 100%;
    }
    .logo {
        position:absolute;
        left: 0;
    }
    .logo_text {
        position: relative;
        left: 0;
    }
    .topnav .nav_a {
        display:inline-block;
        width: 25%;
        margin: 0;
        padding: 0;
    }
    #navlinks {
        width:100%;
        margin:0 auto;
        padding:0;
        list-style:none;
        text-align:center;
    }
    body{
        margin: 120px auto;
    }
}

figure {
    position: relative;
}
figcaption {
    text-align:center;
    font-size: 14px;
    color: #555;
}
