body{
    margin: 90px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding: 0 10px
}
h1,h2,h3{line-height:1.2}
.topnav {
    background-color: #2E3340;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #D8DEE8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a.logo_a {
    padding: 0 0;
}
.topnav a:hover {
    background-color: #8FBCBB;
    color: #2E3340;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-height: 55px;
    max-width: 55px;
    float:left;
}
.logo_text {
    font-family: sans-serif;
    color: #D8DEE8;
    text-align: center;
    padding: 16px 12px;
    text-decoration: none;
    font-size: 34px;
}

.logo_text.active {
    color: #2E3340;
}

.topnav a.active {
    background-color: #8FBCBB;
    color: #2E3340;
}

figure {
    position: relative;
}
figcaption {
    text-align:center;
    font-size: 14px;
    color: #555;
}
