pre.numbered {
    counter-reset: linecounter;
}
pre.numbered span.sl {
    counter-increment: linecounter;
}
pre.numbered span.sl:before {
    content: counter(linecounter);
    width:2em;
    display: inline-block;
    -webkit-user-select: none;
}
.inline_code {
    display:block;
    overflow: auto;
    padding: 1em 1.5em;
    margin-bottom: 1.6em;
    white-space:pre;
    font-family: monospace;
    line-height: 1.2;
    border: 1px solid #000000;
    border-left: 3px solid #BF6069;
    background-color: #2E3340;
    color: #D8DEE8;
}
span.kw {
    color: #81A1C1;
    font-weight: bold;
}
span.cmt {
    color: #4C556A;
    font-style: italic;
}
span.str {
    color: #A3BE8B;
}
span.prompt {
    -webkit-user-select: none;
}
